CONFIG_FREERTOS_HZ=1000
CONFIG_ESP_TASK_WDT_EN=n
CONFIG_SPIRAM=y
CONFIG_SPIRAM_SPEED_250M=y
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ_400=y
CONFIG_IDF_EXPERIMENTAL_FEATURES=y
CONFIG_ESP_MAIN_TASK_STACK_SIZE=10240
CONFIG_ESP_CONSOLE_USB_SERIAL_JTAG=y
CONFIG_EXAMPLE_SRC_WIDTH=1920
CONFIG_EXAMPLE_SRC_HEIGHT=1088
CONFIG_EXAMPLE_PPA_SCALE_NUM=1
CONFIG_EXAMPLE_PPA_SCALE_DEN=2
CONFIG_EXAMPLE_ENC_FPS=30
CONFIG_EXAMPLE_ENC_GOP=30
CONFIG_EXAMPLE_RUN_SECONDS=8
# CONFIG_EXAMPLE_GEN_REALTIME is not set
